{
    auto_https off
    admin off
}

http://:9847 {
    bind 127.0.0.1

    @opencode host opencode.etarn
    handle @opencode {
        reverse_proxy 127.0.0.1:9000
    }

    @vscode host vscode.etarn
    handle @vscode {
        reverse_proxy 127.0.0.1:9001
    }

    @index host etarn
    handle @index {
        root * /etc/caddy/www
        file_server
    }

    handle {
        respond 404
    }
}
