alias watch="viddy "
alias kdebug='kubectl run -l debug=$USER -it --image zhuhz/debug $USER-debug-$RANDOM'
alias kdebugcleanup='kubectl get pods -l debug=$USER --no-headers=true | cut -f1 -d " " | xargs kubectl delete pods'
alias ssh-dev="ssh -t $DEV_DESKTOP_HOST 'tmux -CC new -A -s main'"
alias k='kubectl'
alias kg='kubectl get'
alias kk='kubectl -n kube-system'
alias kap='kubectl get pods -A'
alias kkp='kubectl get pods -n kube-system'
alias dd='ssh dev-dsk-zhuhz-2c-82a6dac4.us-west-2.amazon.com'
alias ddt='ssh dev-dsk-zhuhz-2c-82a6dac4.us-west-2.amazon.com -t /apollo/env/envImprovement/bin/tmux new-session -As DevDsk0'
alias account='aws sts get-caller-identity'
alias mw='mwinit -o -s && kinit -f'
alias update='aws eks update-kubeconfig --name'
alias update-beta='aws eks update-kubeconfig --endpoint ${BETA_ENDPOINT} --name'
alias clusterBeta='eksadm clusterInfo --stage beta --cluster-arns'
alias clusterProd='eksadm clusterInfo --cluster-arns'
alias clusterInfo='aws eks describe-cluster --name '