alias docker="finch"
alias terraform='tofu'
alias watch="viddy "
alias kdebug='kubectl run -l debug=$USER -it --image ellistarn/debug $USER-debug-$RANDOM'
alias kdebugcleanup='kubectl get pods -l debug=$USER --no-headers=true | cut -f1 -d " " | xargs kubectl delete pods'
alias ssh-dev="ssh -t $DEV_DESKTOP_HOST 'tmux -CC new -A -s main'"
alias q="kiro-cli"
alias code=kiro

# AWS
alias bb="brazil-build"
alias bbr="brazil-build release"

