# Ignore everything
*

# Include README
!README.md

# Include Brew
!Brewfile

# Include bin

# Include git
!.gitignore
!.gitignore.global
!.gitconfig

# Include shell
!.zshrc
!.p10k.zsh
!antigen.zsh
!.antigenrc
!.condarc
!.tmux.conf
!.*rc
!*.aliases
!bin/**/*
