# Ignore everything
*

# Include README
!README.md

# Include bin

# Include git
!.gitignore
!.gitignore.global
!.gitconfig

# Include shell
!.zshrc
!.antigen.zsh
!.antigenrc
!.*rc
!*.aliases
!bin/**/*
!bin
